* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  background-color: #ddd;
}

/* home start */
.home {
  position: relative;
  top: 0%;
  height: fit-content;
}

/* home end */

/* adtc commitee page start */

.find-a-coach {
  margin-top: 93px;
  height: fit-content;
  width: 100vw;
  
}

.gallary-tittle {
  text-align: center;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000066;
  font-family: "PF Din Stencil W01 Bold";
}

.gallary-heading {
  font-family: "PF Din Stencil W01 Bold";
}

.gallary1 .image-container .committee-container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.gallery1 > div > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gallary .image-container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.image-container {
  position: relative;
}

.committee-tittle {
  text-align: center;
  font-family: "PF Din Stencil W01 Bold";
}

.committee-container {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.gallery1 {
  display: grid;
  grid-gap: 10px;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  grid-auto-rows: calc(274px + 1rem);
  grid-auto-flow: dense;
}



.gallery .tall {
  grid-row: span 2;
}

.gallery-info {
  text-align: center;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 70%);
  height: fit-content;
  width: 100%;
  margin-bottom: 0;
  bottom: 0;
  padding: 10px;
}

.coach-background {
  position: relative;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.coach-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../Images/coach-img/background-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px); /* Adjust the blur radius as needed */
  z-index: -1;
  background-position: center;
  
}

.content {
  color: white;
  letter-spacing: 2px;
  font-family: "PF Din Stencil W01";
  position: relative;
}


/* adtc commitee page end */
