* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    background-color: #ddd;


}

/* home start */
.home {
    position: relative;
    top: 0%;
    height: fit-content;
}

/* home end */



/* adtc commitee page start */

.find-a-coach {
    margin-top: 93px;
    height: fit-content;
    width: 100vw;
    padding: 20px;
}

.gallary-tittle {
    text-align: center;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000066;
    font-family: "PF Din Stencil W01 Bold";

}

.gallary-heading {
    font-family: "PF Din Stencil W01 Bold";
}

.gallary1 .image-container .committee-container img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}

.gallery1>div>div>img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.gallary .image-container img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;


}

.gallery>div>img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.image-container {

    position: relative;




}

.committee-tittle {
    text-align: center;
    font-family: "PF Din Stencil W01 Bold";
}

.committee-container {
    height: 250px;
    display: flex;
    flex-direction: column;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-auto-rows: 250px;
    grid-auto-flow: dense;
}

.gallery1 {
    display: grid;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    grid-auto-rows: calc(274px + 1rem);
    grid-auto-flow: dense;
}

.gallery>div {
    display: flex;
    justify-content: center;
    align-items: end;
}



.gallery .tall {
    grid-row: span 2;
}


.gallery-info {
    text-align: center;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 70%);
    height: fit-content;
    width: 100%;
    margin-bottom: 0;
    bottom: 0;
    padding: 10px;
}

/* adtc commitee page end */