* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  background-color: #ddd;
}

/* home start */
.home {
  position: relative;
  top: 0%;
  height: fit-content;
}

/* home end */

/* adtc commitee page start */

.find-a-coach {
  height: fit-content;
  width: 100vw;
  padding: 0px 50px 50px 50px;
  margin-top: 25px;
  margin-bottom: 10px;
  position: relative;
}

.gallary-tittle {
  text-align: center;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000066;
  font-family: "PF Din Stencil W01 Bold";
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background-color: #91CC00;

}

.gallary-tittle div{
  font-size: 25px;
}

.gallary1 .image-container .committee-container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.gallery1 > div > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.gallary .image-container img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.gallery > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.image-container {
  position: relative;
}

.committee-tittle {
  text-align: center;
  font-family: "PF Din Stencil W01 Bold";
}

.committee-container {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.gallery {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.gallery1 {
  display: grid;
  grid-gap: 10px;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  grid-auto-rows: calc(274px + 1rem);
  grid-auto-flow: dense;
}

.gallery .tall {
  grid-row: span 2;
}

.gallery-info {
  text-align: center;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 70%);
  height: fit-content;
  width: 100%;
  margin-bottom: 0;
  bottom: 0;
  padding: 10px;
}

.coach-background {
  position: relative;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.coach-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../Images/coach-img/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px); /* Adjust the blur radius as needed */
  z-index: -1;
  background-position: center;
}

.content {
  color: white;
  letter-spacing: 2px;
  font-family: "PF Din Stencil W01";
  position: relative;
}

.aspect-ratio-256-81 {
  margin-top: 93px;
  position: relative;
  width: 100%;
  padding-top: calc(81 / 290 * 100%); /* Aspect ratio calculation */
  border-radius: 0px; /* Adjust the value as needed */
  overflow: hidden; /* Ensure content stays within rounded borders */
}

.aspect-ratio-256-81 .carousel-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit; /* Inherit border radius from the container */
}

.aspect-ratio-256-81 .carousel-item {
  width: 100%;
  height: 100%;
  border-radius: inherit; /* Inherit border radius from the container */
}

.aspect-ratio-256-81 .carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: inherit; /* Inherit border radius from the container */
}

@media only screen and (max-width: 500px) {

  .aspect-ratio-256-81 {
      
      padding-top: calc(81 / 140 * 100%); /* Aspect ratio calculation */
     
    }

}

/* adtc commitee page end */
