* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body {
	background: #ffffff;

}

.container{
	border: 1px solid red;
	display: flex;
	width: 200px;
	overflow-x: auto;
	position: relative;
	top: 50px;
	left: 50px;
}

.element{
	border: 1px solid blue;
	height: 50px;
	min-width: 200px;
}