* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* home start */
.home {
    position: relative;
}
/* home end */

/* nav bar start */
.nav-group {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: transparent;

}

.responsive-brand-item {
    color: #000066;
    font-family: "PF Din Stencil W01 Bold";
}

.nav-link {
    font-family: "PF Din Stencil W01 Bold";
}

.nav-link-home {
    color: #000066;
}

.nav-link-about {
    color: #91CC00;
}

.nav-link-contact {
    color: #000066;
}

.tennis {
    color: #91CC00;
}

@media only screen and (min-width: 992px) {
    .search {
        display: none !important;
    }
}

.navbar-brand {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .brand-br {
        display: block;
    }
}

.navbar-toggler {
    background-color: #91CC00;
}

.change-navbg-onScroll-in {
    background-color: white;
    transition: all 1s ease-in;
}

.change-navbg-onScroll-out {
    background-color: transparent;
    transition: all 1s ease-in-out;
}

.navbar-nav{
    align-items: center;
}
/* nav bar end */

/* home carousal start  */
.img-1 {
    background-image: url('Images/home page carousal/1.gif');

}

.img-2 {
    background-image: url('Images/home page carousal/2.gif');
}

.img-3 {
    background-image: url('Images/home page carousal/3.gif');
}

.img-4 {
    background-image: url('Images/home page carousal/4.gif');
}

.img-5 {
    background-image: url('Images/home page carousal/5.gif');
}

/* .img-6 {
    background-image: url('Images/home page carousal/IMG-20240127-WA0009.jpg');
}

.img-7 {
    background-image: url('Images/home page carousal/IMG-20240127-WA0010.jpg');
}

.img-8 {
    background-image: url('Images/home page carousal/IMG-20240127-WA0011.jpg');
} */

.img {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 90%;
    z-index: 1;

}

.carousel-content {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.388);
    max-height: 75vh;
    border-radius: 10px;
    padding: 40px;
    z-index: 50;
    text-align: center;
    overflow: auto;
    position: relative;
}

.carousel-content-4 {
    max-height: 65vh !important;
}

.carousel-indicators {
    position: static;
    margin: 30px;
}

.carousel-item {
    transition: 1.5s;
}

.curousel-object {
    position: absolute;
    right: 20px;
    bottom: 20px;
    /* transform: translate(0%, -50%); */
}

.curousel-object img {
    height: 300px;
}

.carousal-para-heading {
    text-align: center;

}

.carousal-para {
    font-family: 'Inconsolata', monospace;
    color: rgba(233, 232, 232, 0.992);
    font-size: large;
}

.content-flex-center {
    height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    right: 5%;
    left: 5%;

}

.carousal-para-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousal-content-and-indicator {
    height: fit-content;
    margin-top: 80px;
}

/* home carousal end  */

/* home page section two */

.section-two{
    height: 100vh;
}

