* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: fit-content;
    overflow-x: hidden;
    background-color: #ddd ;


}

/* home start */
.home {
    position: relative;
    top: 0%;
    height: fit-content;
}

/* home end */




/* home page section two */

.latest-news {
    height:100vh;
    width: 100vw;
    
    padding: 20px;
    padding-top: 93px;
    position: relative;
  


}

.gallary-tittle {
    text-align: center;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000066;
    font-family: "PF Din Stencil W01 Bold";

}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.gallary-info{
    font-family: "PF Din Stencil W01 Bold";
}

