/* nav bar start */
.nav-group {
    position: fixed;
    width: 100%;
    z-index: 2;
    background-color: transparent;

}

.responsive-brand-item {
    color: #000066;
    font-family: "PF Din Stencil W01 Bold";
}

.nav-link {
    font-family: "PF Din Stencil W01 Bold";
}

.nav-link-home {
    color: #000066;
}

.nav-link-about {
    color: #91CC00;
}

.nav-link-contact {
    color: #000066;
}

.tennis {
    color: #91CC00;
}

@media only screen and (min-width: 992px) {
    .search {
        display: none !important;
    }
}

.navbar-brand {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    .brand-br {
        display: block;
    }
}

.navbar-toggler {
    background-color: #198754;
}

.change-navbg-onScroll-in {
    background-color: white;
    transition: all 1s ease-in;
}

.change-navbg-onScroll-out {
    background-color: transparent;
    transition: all 1s ease-in-out;
}

.navbar-nav {
    align-items: center;
}

/* nav bar end */